body,html {
    background-color: black;
    height: 100%;        
}
.card{
    background-color: black;
}
.card-body {
    padding: 40px;
}
.container-fluid,.row {
    height: 100%;       
}

.white {
    color: white;
}

.form-control.is-valid, .form-control:valid{
    border-width: medium;
}
.form-control.is-invalid,.form-control:invalid{
    border-width: medium;
}
.input-group-text{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height: 100%;
}